*{
    font-family: 'Noto Sans', sans-serif;
    background:linear-gradient(white);
}
.fundo{
    float:right;
    margin: 20px;
    padding: 20px;

}
body{
    background-size: cover;
    margin:30px;
    padding:30px;
    height: 60%;
}
#navegação{
    display: flex;
    padding-top: 10px;
    list-style: none;   
    text-decoration: none;
}
#navegação li a{
    text-decoration: none;
    margin:30px;
    padding-left: 10px;
    color:rgb(137, 134, 134);
    padding: 8px 8px;
}
#navegação li a:hover{
    background-color: rgb(255, 0, 221);
    transition: 0.5s;
    border-radius: 5px;
}
#meio{
    padding-top: 100px;
}

#meio h1{
    font-size:30px;
    color:rgb(17, 9, 101);
}
#meio p{
    color:rgb(0, 0, 0);
    font-size:15px;
    gap: 2;
}
#meio button{
    margin-top: 35px;
    padding: 15px;
    border-radius:50px;
    background:rgb(255, 0, 221);
    color:aliceblue;
    border-style:none;
}
#meio button:hover{
    background-color: rgb(17, 9, 101);
    transition: 0.5s;
}